@import "../../styles/mixins.scss";

.companies {
  padding-block: 5rem;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem 2rem;
    flex-wrap: wrap;
  }

  a {
    display: inline-block;
    text-align: center;
  }
  img {
    width: 11rem;

    @include respond(phone) {
      margin-inline: auto;
    }
  }
}
