@import "../../styles/mixins.scss";

.status {
  padding-block: 5rem;

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 6rem 3rem;

    @include respond(tab-port) {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 2rem 0;
    }
  }

  img {
    width: 100%;
  }

  h2 {
    font-size: 1.7rem;
    line-height: 1.5;
    text-transform: uppercase;

    @include respond(phone) {
      h2 {
        font-size: 1rem;
      }
    }
  }
  p {
    font-size: 1rem;
    margin-block: 2rem;
  }
}
